/* Add CSS styling here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font-size: 62.5%;
}


h1, h2, h3 {
    font-family: 'Life Savers', cursive;
}

p, a {
    font-family: 'Balsamiq Sans', cursive;
}

header {
    background-color: rosybrown;
    padding: 3% 0 1%;
}

h1 {
    /* border: 1px solid white; */
    width: 30%;
    text-align: center;
    font-size: 400%;
    color: white;
    margin-left: 3%;
}

.navBar nav a {
    text-decoration: none;
    color: white;
    /* border: 1px solid pink; */
}

.navBar nav {
    display: flex;
    justify-content: space-evenly;
}

nav {
    /* border: 2px solid green; */
}

.navBar {
    /* border: 1px solid red; */
    width: 25%;
    text-align: center;
    margin: 3% 0 0 7%;
}


.container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}

.container div {
    /* border: 1px solid red; */
    width: 48%;
    margin: 1%;
    text-align: center;
}

.container img {
    /* border: 1px solid yellow; */
    width: 50%;

}

.container button {
    padding: 2%;
}

.container a {
    text-decoration: none;
}

.photoSection {
    background-color: lightcoral;
}

.photoSection {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photoSection div {
    width: 25%;
}

.photoSection div img {
    width: 90%;
    border: 1px solid grey;
  
}

.photoSection div h3 {
    text-align: center;
}


footer {
    padding: 4% 0;
    background-color: teal;
}

footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .contact button {
    padding: 1%;
} */

.contact button a {
    text-decoration: none;
    padding: 15%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.icons div {
    /* border: 1px solid white; */
    width: 10%;
}

.icons img {
    width: 70%;
}

@media(max-width: 800px) {
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoSection {
    display: flex;
    flex-wrap: wrap;
}

.photoSection div {
    width: 47%;
}
.icons {
    flex-direction: column;
    align-items: center;  
}

.icons div a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

@media(max-width: 500px) {
    header h1 {
        width: 25%;
    }   

@media(max-width: 360px) {
 .icons img {
     width: 100%;
 }
    }
}

}