/* Add CSS styling here */


header {
    background-color: rosybrown;
    padding: 3% 0;
}
nav a {
    text-decoration: none;
}

.navBar {
    border: 1px solid red;
    display: flex;
}

.container {
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
}

.container div {
    width: 20%;
}

.container img {
    width: 50%;
}

.container button {
    padding: 2%;
}

.container a {
    text-decoration: none;
}

.photoSection {
    background-color: lightcoral;
}

.photoSection {
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photoSection div {
    width: 25%;
}

.photoSection div img {
    width: 90%;
    border: 1px solid grey;
  
}

.photoSection div h3 {
    text-align: center;
}


footer {
    padding: 4% 0;
    background-color: teal;
}

footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .contact button {
    padding: 1%;
} */

.contact button a {
    text-decoration: none;
    padding: 15%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.icons div {
    border: 1px solid white;
    width: 10%;
    padding-right: 0;

}

.icons img {
    width: 70%;
}